# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environment / IDE
.env
.venv/
env/
venv/
.idea/
.vscode/

# Temporary files
*.tmp

# Node / Frontend
frontend/node_modules/
frontend/dist/

# Tauri / Rust
frontend/src-tauri/target/
frontend/src-tauri/gen/
